@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-mono.min.css");

body {
  color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	font-size: 14px;
}

h1 {
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
}

h2{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	font-size: 24px;
}

h3{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	font-size: 20px;
}

h4{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	font-size: 18px;
}

h5{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	font-size: 16px;
}

h6{
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
}

.header-section-number {
  color: #32127a;
  font-weight: normal;
  font-family: 'IBM Plex Mono', sans-serif;
}

a:link {
	color: #669999;
}

a:visited {
	color: #669999;
}

a:hover {
  color: #669999;
  text-decoration: underline dotted;
  font-weight: bold;
}

a:active {
  color: #669999;
  text-decoration: underline dotted;
  font-weight: bold;
}

favicon {
	color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
	font-size: 10px;
}

.caption {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #32127a;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 95rem;
  }
  .container-fluid .row {
    justify-content: space-evenly;
  }
  .container-fluid main {
    max-width: 45rem;
  }
  .sidebar {
    max-width: 15rem;
  }

  /* Increase font-size for very wide devices */
  body {
    font-size: 18px
  }
}

main {margin-top: 1rem;}

@media (max-width: 991.98px) {
  .sidebar {
    max-width: 100%;
  }

  .collapse-lg {
    display: none;
    padding: 1rem;
    border-radius: 0.2rem;
    background: #fafafa;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px rgba(0.1, 0.1, 0.1, 0.5);
    border: 1px solid var(--primary);
  }
  .book-toc {
    column-count: 2;
  }
  .sidebar-book, main {
    padding-left: 1rem;
  }
  .sidebar-book {
    margin-top: 1rem;
  }
}
@media (min-width: 992px) {
  .collapse-lg {
    display: block !important;
  }
}
.collapse-lg.show {
  display: block;
}

@media (min-width: 768px) {
  .sidebar-chapter {
    position: sticky;
    max-height: 100vh;
    top: 0;
    overflow-y: auto;
  }
}

@media (min-width: 992px) {
  .sidebar-book {
    position: sticky;
    max-height: 100vh;
    top: 0;
    overflow-y: auto;
  }
}

/* Chapter nav ----------------------------------------- */

.chapter-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.chapter-nav .prev, .chapter-nav .next {
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 0.2rem;
  /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);*/
}
.chapter-nav .empty {
  border: none;
}
.chapter-nav .prev a:before {
  content: "« ";
}
.chapter-nav .next a:after {
  content: " »";
}

/* Sidebar ------------------------------------------------------ */

.sidebar h1, .sidebar h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.sidebar h1 {
  font-size: 1.1rem;
}
@media (max-width: 991.98px) {
  .sidebar h1 {
    font-size: 1.5rem;
    margin-top: 0rem;
  }
}
.sidebar h2 {
  font-size: 0.9rem;
}

.sidebar hr {
  margin: 0 0 0.5rem 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.sidebar li.book-part {
  margin-top: 1rem;
}

.book-toc .active {
  font-weight: bolder;
}

.book-extra {
  border-top: 1px solid #ccc;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.9rem;
}

.book-extra i {
  font-size: 1.2em;
}

/* Sticky footer ----------------------------------------- */
html, body {height: 100%}

body {
  display: flex;
  flex-direction: column;
}
.container-fluid {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  font-size: 0.9rem;

}
footer a {
  text-decoration: underline;
}

/* Scrollspy --------------------------------------------- */

nav[data-toggle="toc"] .nav > li {
  margin-bottom: calc(0.5rem - 3px);
}

nav[data-toggle="toc"] .nav > li > a {
  padding: 3px;
  display: block;
}

nav[data-toggle="toc"] .nav > li > a:hover {
  text-decoration: underline;
}

nav[data-toggle="toc"] .nav a.nav-link.active,
nav[data-toggle="toc"] .nav .nav-link.active > li > a {
  background-color: #eee;
}

/* Nav: second level (shown on .active) */
nav[data-toggle="toc"] .nav-link + ul {
  display: none;
}
nav[data-toggle="toc"] .nav-link.active + ul {
  margin-top: 3px;
  display: block;
}

nav[data-toggle="toc"] .nav .nav > li {
  margin-bottom: 0;
}
nav[data-toggle="toc"] .nav .nav > li > a {
  margin-left: 10px;
}
/* Figures -------------------------------------------- */

.figure, .inline-figure {
  width: 100%;
  overflow-x: auto;
}

.inline-figure {
  border: solid 0px #f1f1f1;
  margin-bottom: 1rem; /* to match <p> */
}

.figure {
  border-top: 0px solid #eee;
  border-bottom: 0px solid #eee;
  margin:  1.5rem -0.5rem 1rem -0.5rem;
  padding: 1.5rem    0    1rem      1rem;
}

@media (max-width: 767.98px) {
  .figure {
    margin: 1.5rem -1rem 1.5rem -1rem;
    padding: 1.5rem;
    width: 100vw;
  }
}


/* Headings -------------------------------------------- */

.header-section-number {
  color: #32127a;
  font-weight: normal;
}

.dropdown-item .header-section-number {
  position: absolute;
  width: 2rem;
  left: -1rem;
  display: block;
  text-align: right;
}

.anchor {
  font-size: max(0.5em, 1rem);
  margin-left: 0.5rem;
  display: none;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
}

/* Tables ---------------------------------------------- */

.inline-table {
  overflow-x: auto;
  color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
}

table.kable_wrapper td {
  vertical-align: top;
  color: #32127a;
	font-family: 'IBM Plex Mono', sans-serif;
}
